mixin dashed-title(name, nameColorClass, nameSizeClass)
    .section-name__title(class= `${nameColorClass}`+' '+`${nameSizeClass}`) #{name}

mixin quote(text, authorAva, authorName, authorTitle)
    .quote__sign.fz35.color-font-black
        i.fa.fa-quote-left
    .quote__text.color-font-darkgrey #{text}
    .quote__author
        .quote__author__ava
            img(src= `${authorAva}`)
        .quote__author__desc
            .quote__author__name #{authorName}
            .quote__author__title #{authorTitle}

mixin parallax-layer(prlxN)
    .parallax__layer
        img(src='./assets/img/welcome-parallax-'+`${prlxN}`+'.png' alt='parallax-layer-'+`${prlxN}`)

mixin skill__circle(skill__name, skill__level)
    li.skill__div__item
        svg.skill-circle(data-level=`${skill__level}` version="1.1" xmlns="http://www.w3.org/2000/svg")
            <circle class ="circle" ></circle>
            <circle class="circle circle-bar"></circle>
        span #{skill__name}

mixin skill__circle-admin(skill__name, skill__level)
    .skill__div__item.skill__div__item-admin
        label.skill__label-admin(for=skill__name) #{skill__name}
        input.skill__input-admin(id=skill__name,  type='number', min="0", max="100",  name=skill__name, value=skill__level)
        .skill__percantage-admin %